/* General Styles */
:root {
    --primary-color: #2575fc;
    --secondary-color: #6a11cb;
    --text-color: #333;
    --background-color: #f4f4f9;
}

[data-theme="dark"] {
    --primary-color: #6a11cb;
    --secondary-color: #2575fc;
    --text-color: #fff;
    --background-color: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

/* Header Styles */
header {
    background: linear-gradient(135deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    color: #fff;
    text-align: center;
    padding: 3rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Other styles using the variables */

/* Toggle Switch */
.theme-switch {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.theme-switch input[type="checkbox"] {
    display: none;
}

.theme-switch label {
    display: block;
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.theme-switch label:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
}

.theme-switch input:checked + label {
    background: var(--secondary-color);
}

.theme-switch input:checked + label:after {
    transform: translateX(20px);
}

/* Media Queries */
@media (max-width: 768px) {
    #about {
        flex-direction: column;
        text-align: center;
    }

    #about img {
        margin: 0 0 2rem 0;
    }

    .skill-list {
        flex-direction: column;
        align-items: center;
    }

    .skill {
        margin: 0.5rem 0;
    }

    #projects img {
        width: 100%;
    }
}
